.text-container{
    /* padding-top:100px; */
    width:90%;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border:1px solid red; */
}
.text-container > label{
    color:rgb(92, 92, 92);
    text-align: left;
    width:90%;
    font-size:0.7em;
    font-weight:bold;
}

.text-select-container{
    width:100%;
    background-color: rgb(240, 240, 240);
    border-radius:12px;
    font-family: Arial, Helvetica, sans-serif;
    padding:7px 8px;
    margin:5px;
}
.text-select-container > select{
    border:none;
    background-color: rgb(240, 240, 240);
    color:rgb(92, 92, 92);
    width:100%;
    font-size:0.90rem;
    outline:none;
    cursor:pointer;
}

.text-input-container > input{
    width:95%;
    font-size:0.90rem;
    color:rgb(92, 92, 92);
    border:none;
    padding:3px 5px 3px 5px;
    background-color: rgb(240, 240, 240);
    outline:none;
    margin:4px 0px;
    padding:8px 8px;
    border-radius:8px;
    text-transform: capitalize;
}