aside{
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    height:inherit;
}
.aside-btn-container{
    width:85px;
    padding:5px;
    border:1px solid rgb(231, 231, 231);
    border-right:none;
    border-top:none;
    position:fixed;
    height:inherit;
}
.aside-btn{
    margin:5px 0px;
    padding:15px 5px;
    border-radius:16px;
    cursor: pointer;
    text-align: center;
    color:rgb(92, 92, 92);
}
.aside-btn:hover{
    background-color: rgb(231, 231, 231);
}
.aside-btn > p{
    font-size:0.75em;
    font-weight: bold;
    margin-top:5px;
}
.side-nav{
    border:1px solid rgb(231, 231, 231);
    border-right:none;
    border-top:none;
    width:325px;
    position:absolute;
    left:85px;
    height:inherit;
    padding:15px;
}
.side-nav-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:6px auto;
    padding:8px 0px;
    width:95%;
    /* border:1px solid red !important; */
}
.side-nav-header  > p:nth-of-type(1){
    color:rgb(100, 100, 100);
    font-size: 1.1rem;
    font-weight: bold;
}
.close-btn{
    color:rgb(228, 228, 228);
    cursor: pointer;
}
.close-btn:hover{
    color:rgb(66, 66, 66);
}