.color-container{
    width:90%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.color-container > p{
    text-align: left;
    width:90%;
    font-size:0.7em;
    font-weight:bold;
    color:rgb(92, 92, 92);
}
.color-input{
    display:flex;
    align-items: center;
    flex-direction: row;
}
.color-input > input, .color-input > div > input{
    text-transform: uppercase;
}
.color-box{
    width:32px;
    height:32px;
    border-radius:8px;
    border:1px solid lightgray;
    overflow:hidden;
}
[type="color"] {
    border: 0;
    padding: 0;
    width: 200%;
    height: 200%;
    cursor: pointer;
    transform: translate(-25%, -25%)
}
.text-box{
    display:flex;
    align-items: center;
    padding:7px 8px;
    border-radius:8px;
    background-color: rgb(240, 240, 240);
    color:rgb(92, 92, 92);
    margin:4px 4px;
}
.text-box > p{
    font-size: 0.75rem;
}
.text-box > input{
    outline:none;
    background-color: rgb(240, 240, 240);
    border:none;
    margin-left:6px;
    color:rgb(92, 92, 92);
    padding:1px 5px 1px 5px;
    font-size:0.90rem;
}