.zoom-button-container{
    display:flex;
    align-items: center;
    justify-content: space-around;
    position:fixed;
    bottom:10px;
    padding:5px;
    right:40px;
    width:120px;
    height:40px;
    border-radius:8px;
    background-color:white;
}
.zoom-button-container > input{
    max-width:40px;
    outline:none;
    border:none;
    text-align: center;
    color:#5c5c5c;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    /* border:1px solid red; */
    font-size:0.9rem;
    padding-top:2px;
    padding-left:2px;
}
.zoom-button-container > img{
    cursor:pointer;
    margin-top:-1px;
}