.searchbar-container{
    width:95%;
    padding:6px 7px;
    margin: 5px 5px;
    background-color: rgb(240, 240, 240);
    border-radius:8px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:rgb(92, 92, 92);
}
.searchbar-container:nth-of-type(1){
    margin-top:10px;
}
.searchbar-container > input{
    font-size:0.90rem;
    color:rgb(92, 92, 92);
    border:none;
    padding:2px 5px 2px 5px;
    flex: 1;
    background-color: rgb(240, 240, 240);
}
.searchbar-container > input::placeholder{
    font-size:0.9rem;
}
.searchbar-container > input:focus{
    outline:none;
}
.clear-btn{
    cursor:pointer;
    visibility:visible;
    font-size: 1.2rem !important;
    padding-right:5px;
}
/* .hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
} */