/* .image-editor{
    border:1px solid red;
} */
/* .image-gallery{
    height:80vh;
    border:1px solid green;
} */
.image-gallery--empty{
    height:80vh;
    position: relative;
}
.upload-image--container{
    position:absolute;
    top:25%;
    left:50%;
    transform: translate(-50%, 10%);
}
.upload-image--container > img{
    position: relative;
    width:135px;
    height:135px;
}
.upload-image--container > p {
    font-size:0.70rem;
    font-family: Arial, Helvetica, sans-serif;
    color:#c4c4c4;
    margin-top: 20px;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
}
.image-editor-button--container{
    border-top:1px solid var(--dark-gray-color);
    display:flex;
    justify-content: center;
}
input[type='file']{
    display:none;
}
.upload-button{
    background-color: var(--light-gray-color);
    border:none;
    border-radius:16px;
    cursor: pointer;
    color:var(--font-color);
    padding:12px 55px;
    height:35px;
    text-transform: uppercase;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.upload-button:hover{
    background-color: var(--dark-gray-color);
}