@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default
}

:root {
  --text-primary: #222529;
  --text-secondary: #7F8792;

  --background-active: #E8EAEC;
  --background-hover: #F1F2F4;

  --background-canvas: #F6F7F9;

  --border-default: var(--background-hover);
}