form{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
form > button {
    background-color: var(--light-gray-color);
    border:none;
    border-radius:16px;
    cursor: pointer;
    color:var(--font-color);
    padding: 10px 4px;
    width:125px;
    height:35px;
    text-transform: uppercase;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
form > button:hover{
    background-color: var(--dark-gray-color);
}