.search-input{
    background-color: var(--light-gray-color);
    border-radius:8px;
    color:var(--font-color);
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:80%;
    margin: 5px 0px;
    padding:4px 4px;
}
.search-input > input{
    background-color: var(--light-gray-color);
    border:none;
    color:var(--font-color);
    font-size:0.85rem;
    outline: none;
    width:70%;
}
.search-input > button{
    border:none;
    background-color: var(--light-gray-color);
    color:var(--font-color);
    cursor: pointer;
}
.hidden{
    visibility: hidden;
}