header{
    position:fixed;
    width:100%;
    background-color: white;
    z-index:1000000000;
    border-bottom:1px solid var(--light-gray-color);
}
.header--container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
    padding:10px;
}
.header--container > a{
    color:var(--font-color);
    font-weight: bold;
    font-size: 0.80rem;
    margin-left:15px;
}
.header--container > button{
    background-color: var(--light-gray-color);
    border:none;
    border-radius:16px;
    cursor: pointer;
    color:var(--font-color);
    padding: 10px 4px;
    width:125px;
    height:35px;
    text-transform: uppercase;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header--container > button:hover {
    background-color: var(--dark-gray-color);
}