header{
    position:fixed;
    width:100%;
    background-color: white;
    z-index:100000;
}
.header-container{
    height:50px;
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.header-container > a{
    color:rgb(88, 88, 88);
    text-decoration: none;
}
.header-container > a > h1{
    font-size:1.75rem;
}
.header-container > button{
    width:125px;
    padding:12px 5px;
    border:none;
    border-radius:16px;
    cursor:pointer;
    font-weight: bold;
    color:rgb(88, 88, 88);
}
.header-container > button:hover{
    background-color: rgb(230, 230, 230);
}