.tab{
    background-color: white;
    border:none;
    border-radius:8px;
    cursor: pointer;
    text-align: center;
    width:90%;
    margin: 5px 3px;
    padding:10px 5px;
}
.tab > p{
    color:var(--font-color);
    font-size:0.70rem;
    font-weight: bold;
    margin-top:2.5px;
}
.tab:hover{
    background-color: var(--light-gray-color);
}