.poster-wrapper{
    text-transform: uppercase;
    width:960px;
    height:1280px;
    border:1px solid red;
    font-family: $font;
    background-color: white;
}
.poster-container{
    padding:15px 30px;
}
hr{
    border:1px solid black;
}
.poster-release-year{
    text-align: right;
    font-size:2.25em;
}
.poster-album-name{
    font-size:3.75em;
}
.poster-image-container{
    width:100%;
    margin:0 auto;
    height:50%;
}
.poster-image{
    width:100%;
    height:100%;
}
.poster-palette-container{
    display:flex;
}
.poster-palette-color{
    height:15px;
    width:20%;
}