*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-width:100vh;
}
.container{
    display:flex;
}
main{
    flex: 1;
    width:80%;
    background-color: rgb(245, 245, 245);
}
.media-query-warning{
    display:none;
}
@media screen and (max-width : 768px) {
    header{
        display:none;
    }
    .container{
        display:none;
    }
    .media-query-warning{
        display:block;
    }
}