:root{
    --gray: #f8f8f8;
}
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    background-color: var(--gray);
}
.App{
    position:relative;
}

.poster-editor-canvas{
    border:1px solid red;
}
.poster-wrapper{
    width:960px;
    height:1280px;
    margin: 10px auto;
    text-transform: uppercase;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border:1px solid white;

}
.poster-container{
    padding:20px 40px;
    background-color: white;
}
hr{
    border:1px solid black;
}
.poster-release-year{
    text-align: right;
    font-size:2.25em;
}
.poster-album-name{
    font-size: 3.75em;
}
.poster-image-container{
    width:100%;
    height:50%;
    margin: 0 auto;
}
.poster-image{
    width:100%;
    height:100%;
}
.poster-palette-container{
    display:flex;
    margin:8px 0px;
}
.poster-palette-color{
    width:20%;
    height:12.5px;
}
.poster-body-container{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.poster-text-container{
    margin-top:-12px;
}
.poster-information-container > div{
    margin:5px 0px;
    text-align: right;
}
.poster-information-container > div > p{
    font-size: 0.95rem;
}
.poster-artist-container{
    text-align: right;
}
.poster-artist{
    font-size:2.25em;
}
.poster-tracklist-container{
    display:flex;
    justify-content: space-around;
    max-width:680px;
    /* border:1px solid red; */
}
ul:nth-of-type(even){
    margin:0px 15px;
}
li{
    list-style-type: none;
    margin:2px 0px;
    font-size: 0.95rem;
}

/* input[type=text]{
    border:1px solid black;
    border-radius:32px;
    padding:10px 20px;
} */