.tab-list{
    background-color: white;
    border-right: 1px solid var(--light-gray-color);
    width:75px;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    z-index:1000000;
    padding-top:10px;
}