.reset-button{
    padding:12px 5px;
    width:125px;
    border-radius:12px;
    border:none;
    cursor: pointer;
    font-weight: bold;
    color:rgb(66, 66, 66);
    margin:15px auto;
    justify-self: center;
}
.reset-button:hover{
    background-color: rgb(230, 230, 230);
}